body{
    background-color: white;
    background: linear-gradient(to bottom, yellow, red 100%);
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
}

h2{
    font-size: 40px;
}

h3{
    margin: 5px;
    color: black;
}

#container{
    background-color:lightyellow ;
    width: 700px;
    margin: auto;
    padding: 10px;
}


button{
    height: 30px;
    width: 30px;
    background-color: orange;
    border: 2px solid; 
}










